# Whitelist (Comas para separar varios: 51999,51888)
WHITELIST_NUMBERS=
PORT=
NODE_ENV=

# YCloud (WhatsApp)
YCLOUD_API_KEY=
YCLOUD_WHATSAPP_NUMBER=
YCLOUD_API_URL=

# Database (Local Docker)
DATABASE_URL=postgres:
GOOGLE_SPREADSHEET_ID=
GOOGLE_CREDENTIALS_PATH=credentials/google-sheets-key.json

# Assets
ASSETS_BASE_URL=
